.nav-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 4px var(--shadow-color);
}

.nav-logo {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.nav-logo:hover {
    transform: scale(1.1);
}

/* Отключаем "липкую" шапку на мобильных устройствах */
@media (max-width: 768px) {
    .nav-header {
        position: static;
    }
}
