.car-card {
    background: var(--white-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.car-card-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    text-align: center;
}

.car-card:hover {
    transform: translateY(-5px);
}

.car-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.car-card h2 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem;
    color: var(--text-color);
}

.car-card p {
    font-size: 0.9rem;
    color: #666;
    margin: 0 0 0.5rem;
}

.car-card .btn {
    margin: 0;
    margin-top: 1rem; /* Add space above the button */
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease;
}

.car-card .btn:hover {
    background-color: var(--primary-hover-color);
}

.status-available { color: #28a745; }
.status-rented { color: #dc3545; }
.status-maintenance { color: #ffc107; }
