.chart-page {
    color: var(--text-color);
}

.chart-container {
    position: relative;
    height: 60vh;
    /* Задаем высоту контейнера для графика */
    padding: 1.5rem;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--light-color);
}

.chart-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.chart-controls .form-group {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.form-control-range {
    width: 200px;
}

canvas {
    margin-bottom: 2rem;
}
