.home-top-layout {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    padding: 20px;
}

.home-column-center {
    flex: 2;
}

.home-column-left, .home-column-right {
    flex: 1;
}

.home_new_arrivals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

/* Specific override for home page card image height */
.home_new_arrivals .card-img-top {
    height: 300px;
}

.info-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

.info-card {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 2px 4px var(--shadow-color);
    display: flex;
    flex-direction: column;
    color: var(--dark-color);
}

.info-card a.btn {
    display: inline-block;
    margin-top: auto; /* Pushes button to the bottom */
    padding: 5px 10px; /* Adds space above the button */
    align-self: center; /* Prevent stretching */
}


.last_news {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 2px 4px var(--shadow-color);
    color: var(--black-color)
}



.partners-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}



.misc-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    color: var(--dark-color);
}

.misc-section section {
    flex: 1;
    min-width: 250px;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow-color);
}

/* Calendar Styles */
.home-column-right .month {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    table-layout: fixed;
}

.home-column-right .month th, 
.home-column-right .month td {
    text-align: center;
    padding: 8px;
    border: 1px solid var(--border-color);
    height: 40px;
    color: var(--dark-color);
}

.home-column-right .month th {
    background-color: var(--light-color);
    font-weight: bold;
    color: var(--primary-color);
}

.home-column-right .month .noday {
    background-color: var(--secondary-color);
    color: var(--text-muted-color);
}

.home-column-right .month td:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}
