.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.filter-container-horizontal {
    margin-bottom: 1.5rem;
}

.alert-info {
    background-color: var(--info-color-light);
    border: 1px solid var(--info-color-border);
    color: var(--info-color);
    padding: 1rem;
    border-radius: 4px;
}
