.rental-return-container {
    background-color: var(--background-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow-color);
    border: 1px solid var(--border-color);
}

.rental-return-header {
    margin-bottom: 1.5rem;
}

.rental-return-header h3 {
    font-size: 2rem;
    color: var(--text-color);
    margin: 0;
}

.rental-return-body {
    display: flex;
    gap: 2rem;
}

.rental-return-info {
    flex: 1;
    color: var(--dark-color);
}

.rental-return-info h5 {
    font-size: 1.5rem;
    color: var(--text-muted-color);
    margin-bottom: 1rem;
}

.rental-return-form {
    flex: 2;
}

/* .form-group { */
/*     margin-bottom: 1.5rem; */
/* } */
/**/
/* .form-group label { */
/*     display: block; */
/*     font-weight: bold; */
/*     color: var(--dark-color); */
/* } */

.form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.penalty-types-list {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.penalty-types-list label {
    display: block;
    padding: 0.25rem 0;
    color: var(--dark-color);
}

.rental-return-footer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
