/* static/css/pages/_slider_settings.css */

.slider-page-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: var(--color-card-background);
    border-radius: 10px;
    box-shadow: var(--shadow-medium);
    color: var(--dark-color);
}

.slider-page-container h1 {
    color: var(--color-heading);
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}
