/* Basic element styling (body, p, h1, etc.) */

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-family);
    font-size: 14px;
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    font-weight: 600;
    margin-bottom: 1rem;
    color: #325a85;
}

h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5rem;
}