/* Main CSS file - imports all other stylesheets */

@import url('base/_base.css');
@import url('base/_variables.css');

/* Layout */
@import url('layout/_header.css');
@import url('layout/_footer.css');

/* Components */
@import url('components/_buttons.css');
@import url('components/_navbar.css');
@import url('components/_cards.css');
@import url('components/_forms.css');
@import url('components/_breadcrumbs.css');

/* Pages */
@import url('pages/_home.css');
@import url('pages/_about.css');
@import url('pages/_contacts.css');
@import url('pages/_login.css');
@import url('pages/_register.css');
@import url('pages/_vehicle_list.css');
@import url('pages/_vehicle_detail.css');
@import url('pages/_glossary.css');
@import url('pages/_about.css');
@import url('pages/_contacts.css');
@import url('pages/_news_list.css');
@import url('pages/_news_detail.css');
@import url('pages/_news_confirm_delete.css');
@import url('pages/_vehicle_form.css');
@import url('pages/_review_list.css');
@import url('pages/_review_form.css');
@import url('pages/_review_management.css');