{% extends 'base.html' %}

{% block title %}{{ article.title }} - Автопрокат{% endblock %}

{% block content %}
    <div>
        <div>
            <div>
                <div>
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <h2>{{ article.title }}</h2>

                        {% if user.is_authenticated and is_staff_user or is_admin_user %}
                            <div>
                                <a href="{% url 'article_edit' article.pk %}">Редактировать</a>
                                <a href="{% url 'article_delete' article.pk %}">Удалить</a>
                            </div>
                        {% endif %}
                    </div>

                    {% if article.image %}
                        <img src="{{ article.image.url }}" alt="{{ article.title }}" style="width: 100%;">
                    {% endif %}

                    <div>
                        <div>
                            <small>
                                Опубликовано: <time datetime="{{ article.published_at|date:"Y-m-d\TH:i" }}">{{ article.published_at|date:"d.m.Y H:i" }}</time>
                                {% if article.author %}
                                    <span>
                                    Автор: {{ article.author.get_full_name|default:article.author.username }}
                                </span>
                                {% endif %}
                            </small>
                        </div>

                        <div>
                            {{ article.content|linebreaks }}
                        </div>
                    </div>
                    <div>
                        <a href="{% url 'news_list' %}">К списку новостей</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}