.messages-container {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 800px;
    border-radius: 5px;
}

.message {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.9rem;
}

.message.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.message.info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.message.warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.message.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
